In [1]:
import pandas as pd
import seaborn as sns

C:\Users\SUJAL\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df =sns.load_dataset('tips')

In [5]:
df.sample(5)

     total_bill   tip     sex smoker   day    time  size
226       10.09  2.00  Female    Yes   Fri   Lunch     2
139       13.16  2.75  Female     No  Thur   Lunch     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
212       48.33  9.00    Male     No   Sat  Dinner     4

In [6]:
titanic = pd.read_csv('train.csv')

In [7]:
flights = sns.load_dataset('flights')

In [8]:
iris = sns.load_dataset('iris')

In [9]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Scatterplot (Numerical - Numerical)

In [15]:
sns.scatterplot(df['total_bill'], df['tip'], color='red')

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_18764/3562200434.py, line 1)