In [90]:
import pandas as pd
import requests

In [91]:
url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer API"
}

In [83]:
response = requests.get(url, headers=headers)

In [84]:
pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

,id,title,overview,release_date,popularity,vote_average,vote_count
0,460508,Munna Michael,An expert dancer Munna who idolizes the king o...,2017-07-20,14.998,5.900,46
1,653664,Dinner in America,An on-the-lam punk rocker and a young woman ob...,2022-05-27,12.881,7.800,126
2,513268,Body Cam,As a police officer investigates the gruesome ...,2020-05-19,13.872,6.200,353
3,467956,The Professor,A world-weary college professor is given a lif...,2018-05-17,14.868,6.900,1160
4,710692,Aunt's Temptation 3,"Tae-hun, a young and sexy aunt and a nephew of...",2020-05-22,13.351,7.300,16
5,17729,The Glenn Miller Story,A vibrant tribute to one of America's legendar...,1954-01-04,9.612,6.927,150
6,271116,Devil Angel,"Chi Kit worked in a stock company. One day, th...",1995-11-09,13.631,4.300,9
7,579583,The King of Staten Island,Scott has been a case of arrested development ...,2020-07-22,14.122,7.009,1013
8,410554,First Kill,A police chief tries to solve a kidnapping tha...,2017-07-21,12.867,5.700,558
9,1485,Get Carter,Jack Carter is a small-time hood working in Lo...,1971-02-03,11.860,7.003,497
10,279988,Extinction,Deep in the Amazon jungle a group of scientist...,2014-08-24,13.244,3.900,46
11,29369,Made in U.S.A,Paula Nelson goes to Atlantic City to meet her...,1967-01-27,12.801,6.100,98
12,61202,Zindagi Na Milegi Dobara,Three friends who were inseparable in childhoo...,2011-07-15,15.113,7.600,352
13,688258,Occupation: Rainfall,Two years into an intergalactic invasion of Ea...,2020-10-30,13.621,6.200,241
14,41343,The God of Cookery,The most renowned and feared chef in the world...,1996-12-21,17.859,7.162,179
15,8092,This Boy's Life,When a son and mother move to Seattle in hopes...,1993-04-09,13.359,7.100,992
16,267,Live Flesh,"When Victor attempts to seduce Elena, all he g...",1997-10-10,13.110,7.100,672
17,1009263,Lampas Langit,"An author, whose marriage is on the rocks, mee...",2022-08-19,19.685,5.400,5
18,567690,Dear Evan Hansen,"Evan Hansen, a high schooler with social anxie...",2021-09-24,12.874,6.277,330
19,419114,Bed-Rella,Min-cheol goes down to the countryside to focu...,2016-09-22,8.704,9.000,3

In [85]:
df.head()
df = pd.DataFrame()

In [92]:
for i in range (1,429):
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc"

    
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer API"
    }
    
    response = requests.get(url, headers=headers)
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]    
    df = df.append(temp_df,ignore_index=True)

KeyError: 'results'

In [87]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...",2024-12-19,3435.809,7.803,1497
1,539972,Kraven the Hunter,Kraven Kravinoff's complex relationship with h...,2024-12-11,2056.111,6.600,1026
2,1241982,Moana 2,After receiving an unexpected call from her wa...,2024-11-21,1831.321,7.200,1266
3,993710,Back in Action,Fifteen years after vanishing from the CIA to ...,2025-01-15,1534.220,6.631,765
4,1249289,Alarum,Two married spies caught in the crosshairs of ...,2025-01-16,1392.625,5.800,110
...,...,...,...,...,...,...,...
8555,8092,This Boy's Life,When a son and mother move to Seattle in hopes...,1993-04-09,13.359,7.100,992
8556,267,Live Flesh,"When Victor attempts to seduce Elena, all he g...",1997-10-10,13.110,7.100,672
8557,1009263,Lampas Langit,"An author, whose marriage is on the rocks, mee...",2022-08-19,19.685,5.400,5
8558,567690,Dear Evan Hansen,"Evan Hansen, a high schooler with social anxie...",2021-09-24,12.874,6.277,330
8559,419114,Bed-Rella,Min-cheol goes down to the countryside to focu...,2016-09-22,8.704,9.000,3