In [1]:
import pandas as pd

## Loading CSV From a local path

In [3]:
# pd.read_csv('filename.csv')

## Loading CSV From an URL

In [4]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

## Sep Paramter

In [5]:
# pd.read_csv('movie_titles_metadata.tsv', sep='\t', names=['sno','name','release_year','rating','votes','genres'])

## index_col Parameter

In [6]:
# To make the index_col column to be the default initial column
# pd.read_csv('aug_train.csv',index_col="enrolle_id")

## Header Parameter

In [7]:
# When the header of the data is in a different row.

# pd.read_csv('test.csv', header=1)

## use_cols parameter

In [8]:
# pd.read_csv('aug_train.csv', usecol=['col1','col2','col3'])

## Squeeze Parameter

In [9]:
# pd.read_csv('csv',usecols=['gender'],squeeze=True)

## Skiprows/nrows Paramter

In [11]:
# pd.read_csv('file',skiprows=[0,2])

# For Specific number of rows

# pd.read_csv('file',nrows=100)

## Encoding Parameter

In [12]:
# pd.read_csv('file',encoding='latin-1')

## Skip bad lines

In [13]:
# In case there is a particular line(s). It skips that err
# pd.read_csv('file', error_bad_lines=false)

## dtypes parameter

In [14]:
# In case the data type needs to be transformed into a different type
# pd.read_csv('file',dtype={'target':int}).info()

## Handling Dates

In [15]:
# Changing Objects(Strings) in pandas to dates

# pd.read_csv('', parse_dates=['date'])

## Convertors

In [17]:
def rename(name):
    if name=="Avadaka":
        return AVD
    else:
        return name

# pd.read_csv('', converters={'col1':rename})

## na_values parameter

In [ ]:
# pd.read_csv('file', na_values=['col3'])